/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for ORSON processes
 */

params {

    // Analyzed project name
    projectName = "orson_karlo"
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

    // Input FASTA file
    fasta = "/home1/datawork/ltrouill/Ifremer/Results/Karlodinium/low_expression/transcripts_analysis_20250526_092642/filtered_transcripts.fasta"
    // Type of data - for nucleic acid sequences: "n"; for protein sequences: "p"
    query_type = "n"
    // Number of sequences in each fasta chunk
    chunk_size = 20

    /*
    Steps to activate or deactivate
    */
    get_singularity_enable = false
    downloadDB_enable = true
    busco_enable = false
    iprscan_enable = true
    beedeem_annot_enable = true
    eggnogmapper_enable = true
    
    

    /*
    Tool used for the sequence comparison. Can be BLAST or diamond.
    */
    hit_tool = "diamond"

    /*
    Installing annotated sequence banks
    */
    db_dir = "${baseDir}/databases"
    bank_list = "GeneOntology_terms,InterPro_terms,Enzyme,NCBI_Taxonomy,Uniprot_SwissProt"

    /*
    If hit_tool = "BLAST" or "diamond" and you want to use another annotated sequence banks, modify the following parameters:
    */
    restricted_search = false
    restricted_tax_id = "none"
    blast_db = "/home/ref-bioinfo/ifremer/sebimer/generic-reference-banks/p/Uniprot_SwissProt/current/Uniprot_SwissProt/diamond.idx/Uniprot_SwissProt.dmnd"
    
    /* 
    If hit_tool = "diamond" and you want to be more sensitive, modify the following parameter.
    Allowed values: 'fast','mid-sensitive','sensitive','more-sensitive','very-sensitive','ultra-sensitive'
    */
    sensitivity = "ultra-sensitive"

    /*
    Set the number of hits per query for BLAST and Diamond.
    */
    max_target_seq = 5

    /*
    Annotation of hits using BeeDeeM. Can be "bco" or "full".
    See https://pgdurand.gitbook.io/beedeem/utils/cmdline-annotate for more details.
    */
    annot_type = "bco"
}
